@use './variables' as *;

.btn {
  font-family: $focus;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 16px;
  line-height: 40px;
  text-align: center;
  border-radius: $rounded;
  font-size: $text-xl;
  color: $black;
  font-weight: $font-bold;
  border: 1px solid #222;
  transition: outline 0.1s ease-in, transform 0.2s ease-in;
  max-width: 550px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.2);

  &.success {
    background: linear-gradient(270deg, #1C9E16 3.92%, #4BED44 51.48%, #1C9E16 105.82%);
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
    border-color: $success;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -120%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transform: skewX(-20deg);
      transition: none;
      z-index: 0;
    }

    &:hover {
      transform: scale(1.02);
      outline: 2px solid rgba(0, 255, 0, 0.5);
      outline-offset: 2px;

      &::before {
        animation: shine 0.7s ease-out forwards;
      }
    }
  }

  &.warning {
    background: linear-gradient(270deg, #E3A400 3.92%, #FFCC33 51.48%, #E3A400 105.82%);
    box-shadow: 0 0 8px rgba(255, 200, 0, 0.4);
    border-color: $warning;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -120%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transform: skewX(-20deg);
      transition: none;
      z-index: 0;
    }

    &:hover {
      transform: scale(1.02);
      outline: 2px solid rgba(255, 200, 0, 0.5);
      outline-offset: 2px;

      &::before {
        animation: shine 0.7s ease-out forwards;
      }
    }
  }

  &.alert {
    background: linear-gradient(270deg, #B30000 3.92%, #FF4444 51.48%, #B30000 105.82%);
    border-color: $alert;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
    color: $white;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -120%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transform: skewX(-20deg);
      transition: none;
      z-index: 0;
    }

    &:hover {
      transform: scale(1.02);
      outline: 2px solid rgba(255, 0, 0, 0.5);
      outline-offset: 2px;

      &::before {
        animation: shine 0.7s ease-out forwards;
      }
    }
  }

  @media (max-width: 700px) {
    padding: 0 8px;
    font-size: $text-lg;
    width: 100%;
    line-height: 1.5;
    padding: 8px 0;

    span {
      display: block;
    }
  }

  @media(max-width:500px) {
    font-size: $text-base;
  }

  @media(max-width:400px) {
    font-size: $text-sm;
  }

  @media(max-width:350px) {
    font-size: $text-xs;
    width: 95%;
  }
}

@keyframes shine {
  0% {
    left: -120%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 120%;
  }
}
