@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: $content;

  body {
    font-size: $text-base;
    line-height: 1.5;
    color: $default;
    margin: 0 auto;
    min-width: 300px;
    max-width: 100vw;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {
    html {
      font-size: 56.25%;
    }
  }
}
